@import "tailwindcss";

@font-face {
  font-family: "Pricedown";
  src: url("/pricedown.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Pricedown", sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  
}